#contact  {
    position:relative;
    display:block;
    width:100%;
    bottom:0;
    padding-top:2vw;
    z-index:2;
    box-shadow: 1vw 1vw 5vw 0vw rgba(0,0,0,0.7);
    overflow:hidden;
    z-index:2;

    background-color:rgba(122, 72, 254, 1.0);
}


ul[class="contact-list"] {
    margin-left:8%;
}


ul[class="contact-list"] li {
    list-style-type:none;
}


ul[class="contact-list"] li a {
    position:relative;
    display:flex;
    align-items:center;
    width:50%;
    border-radius:4vw;
    text-align:center;
    font-size:2vw;
}


ul[class="contact-list"] li a:hover {
    background-color:rgba(255,255,255, 0.25);
}


ul[class="contact-list"] li a p {
    color:white;
}


#contact .contact-list h1 {
    position:relative;
    display:block;
    margin-top:3vw;
    font-family:"Comfortaa Bold";
    color:white;
}


.contact-icon {
    position:relative;
    display:block;
    margin:1vw;
    z-index:2;
}


.contact-icon:hover {
    opacity:0.75;
    transform: scale(1.05);
}


#contact-apps {
    position:absolute;
    display:flex;
    justify-content:right;
    right:5vw;top:5vw;
}


/* Mobile styles */
@media screen and (max-width:1060px) {
    .contact-icon {
        width:8vw;
    }
}


/* Desktop styles */
@media screen and (min-width:1060px) {
    .contact-icon {
        width:4vw;
    }
}
