#greeting {
    top:6vw;
    margin-left:auto;
    margin-right:auto;
    background:rgba(153, 150, 253, 0.1);
    animation:fading 4s;
    overflow:hidden;
    padding-bottom:15vw;
}


#hello {
    position:relative;
    width:40%;
    z-index:1;
}


#hello h1 {
    animation:fading-appearance 2s;
}


#hello img[class="background-img"] {
    position:absolute;
    display:block;
    width:200vw;
    height:100vw;
    top:0;left:50%;

    background-color:rgba(73, 15, 227, 1.0);
    transform: rotate(-45deg);
    z-index:0;
}


#summary {
    position:relative;
    display:block;
    width:80%;
    font-family: 'BrandonText Medium';
    font-weight:800;
    font-size:1.5vw;
    word-wrap:break-word;
    z-index:1;
    margin-top:5vw;

    color:#B0AFCD;
    animation:fading-appearance 2s;
}


#contact-apps {
    position:relative;
    display:flex;
    width:auto;
    height:auto;
    bottom:0;top:100%;
    margin-left:auto;
    margin-right:4vw;
}
