.hello-slide {    
}


.hello-slide ul {
    position:relative;overflow:hidden; 
    border-radius: 3em;
    width:90%;
    height:100%;
    margin-left:auto;margin-right:auto;
}


@keyframes hello-title {
    from {opacity:0;transform: translateX(-50%);}
    to {opacity:1;trasnform: translateX(0%);}
}


.hello-slide ul li {
    list-style-type: none;
    text-align:left;
    display:block;
    width:100%;
    word-wrap:break-word;
}

.hello-slide h1 {
    font-weight: 800;
    font-size:6em;
    color:white;
    font-family: Roboto; 
}


.hello-slide h2 {
    font-weight: 800;
    font-size:3em;
    color:white;
    font-family: Roboto;   
}


.hello-slide h3 {
    font-weight: thin;
    font-size:2em;
    color:rgb(143, 216, 125);
    font-family: Courier New;
    letter-spacing: 0.4em;
    font-weight: bold;
    cursor:pointer; 
    text-transform: uppercase;
}

.hello-slide h3:hover { 
    color:rgb(136, 253, 107);
}


.hello-slide h4 {
    font-weight: 800;
    font-size:2em;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;  
    font-weight: bold;
    cursor:pointer; 
}
