body { 
    background: #3c3f4f;  
    position:relative;  
    overflow-x:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
 
    color: #6e7076;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif; 
  
}  

body::-webkit-scrollbar-thumb {
    background: #3e69e7;
    border-radius: 2em;
}

body::-webkit-scrollbar-thumb:hover {
    background: #8aa3f0; 
}


body::-webkit-scrollbar {
    background: #17181b;
    width:1.5em;
}

#background {
    overflow:hidden;
    position:absolute;  
    left:0;
    top:0; 
    width:100vw; 
}


a {
    text-decoration: none;
}
 

.flex-container {
    display:flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    flex-wrap: wrap;
    margin:2em; 
}


.content-block {
    background-color: white;
    width:100%;height:100%;border-radius:2em;  
    display:block;
    position:absolute; 
}


.content-block-title { 
    color: #2b1870;
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue, serif,;
    font-weight: 900; 
    font-size:4em; 
    margin-left:2em;
    text-align:left;   
    white-space: nowrap; 
} 