:root {

}


body {
    position:relative;

    color: #6e7076;
}  

body::-webkit-scrollbar-thumb {
    background: #3e69e7;
    border-radius: 2em;
}

body::-webkit-scrollbar-thumb:hover {
    background: #8aa3f0; 
}


body::-webkit-scrollbar {
    background: #17181b;
    width:2vw;
}

#background {
    overflow:hidden;
    position:absolute;  
    left:0;
    top:0; 
    width:100vw; 
    z-index:-1;
}

.content-block {
    height:auto;
    display:block;
    position:relative;
}


a {text-decoration:none;}


.flex-container {
    display:flex;
    align-items: stretch;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:2em;
}
