:root {  
    --movement: 100vw;
}



.particle {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-name: particleMoveLeft;
    z-index:9;
} 
