<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/particle.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
    {% block slideshow %}{% endblock %}
    {% block profile_not_found %}{% endblock %}

    <div id="background"></div>
    <script type="text/javascript" src="{% static 'js/generator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/particleSettings.js' %}"></script>
    <script>
        function RandomInt(border1, border2) {return Math.floor(border1 + Math.random() * (border2 - border1));}
        $("#background").css("height", $(document).height());
        particleGenerator("background", particlesNumber*0.2, "particle", "#525dff");
        particleGenerator("background", particlesNumber*0.2, "particle", "#7b76d6");
        particleGenerator("background", particlesNumber*0.3, "particle", "#00a0f0");
        particleGenerator("background", particlesNumber*0.3, "particle", "#ffffff");
    </script>
    <script type="text/javascript" src="{% static 'js/animation.js' %}"></script>

</body>


</html>
