<div id="dropdown-menu">
    <span id="open" onclick="PressNavigationMenu()"><div></div><div></div></span>
    <input id="dropdown-check" type="checkbox">
    <div id="dropdown-content">
        <span id="close" onclick="PressNavigationMenu()"><div></div><div></div></span>
        <ul>
            <li><a href="#greeting">Hi</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#expirience">Work expirience</a></li>
        <ul>
    </div>
</div>
<script type="text/javascript">
    function PressNavigationMenu()
    {
        var isActive = $("#dropdown-check").prop('checked');
        if (isActive) {
            $("#dropdown-check").prop('checked', false);
            $("#close").css("display", "none");
            $("#open").css("display", "flex");
            $("#dropdown-menu #dropdown-content").css("transform", "translateX(-100%)");
        }
        else {
            $("#dropdown-check").prop('checked', true);
            $("#open").css("display", "none");
            $("#close").css("display", "flex");
            $("#dropdown-menu #dropdown-content").css("transform", "translateX(0%)");
        }
    }
</script>
