{% load static %}
{% load mytags %}
<link rel="stylesheet" href="{% static 'css/graph.css' %}">

<div style="position:relative;display:flex;">
    <div id="graph-field">
        <div id="graph">
            {% for Node in nodeList %}
                {% get_item_index nodeList Node as nodeIndex %}
                <div class="node" onclick="GetExpirience({{nodeIndex}})" id="node-{{nodeIndex}}">
                    <img src="{{Node.company_logo.url}}">
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="expirience-details">
        {% for Node in nodeList %}
            {% get_item_index nodeList Node as nodeIndex %}
            <div id="exp-{{nodeIndex}}" class="expirience">
                <h1 class="expirience-title">{{Node.company}}</h1>
                <img src="{{Node.company_logo.url}}">
                <p class="expirience-description">{{Node.start}} - {{Node.end}}</p>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    var additionalNodes=4;
    var index=$("#graph .node").length;
    for (var i=0;i<additionalNodes;i++) {
        var expirience = document.createElement("div");
        expirience.classList.add("node");
        expirience.id = "node-" + index;
        document.getElementById("graph").appendChild(expirience);
        index++;
    }
</script>

<script type="text/javascript" src="{% static 'js/expirience.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/construct_graph.js' %}"></script>
<script type="text/javascript" src="{% static 'js/graph_animation.js' %}"></script>

