{% load static %}
<header id="dropdown-menu">
    <label id="logo">bluesnake</label>
    <span id="open" onclick="PressDropdown()"><div></div><div></div></span>
    <input id="dropdown-check" type="checkbox">
    <div id="dropdown-content">
        <span id="close" onclick="PressDropdown()"><div></div><div></div></span>
        <ul>
            <li><a onclick="PressDropdown()" href="#greeting">Hi</a></li>
            <li><a onclick="PressDropdown()" href="#hard-skills">Hard skills</a></li>
            <li><a onclick="PressDropdown()" href="#projects">Projects</a></li>
            <li><a onclick="PressDropdown()" href="#expirience">Work expirience</a></li>
            <li><a onclick="PressDropdown()" href="#contact">Contact</a></li>
        <ul>
    </div>
</header>
<script type="text/javascript" src="{% static 'js/dropdown.js' %}?v=2"></script>
