<html>
{% load static %}
<head> 
    <title>{{currentProfile.firstname}}{{currentProfile.lastname}}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/particle.css' %}">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}"> 
    <link rel="stylesheet" href=""> 
    <script src="{% static 'js/jquery.min.js' %}"></script> 
</head>

<body>
    <div id="background"></div>   
    <div id="main-content">
        <h1 id="main-title">Hey, I am Konstantin Maskov, software engineer!</h1> 
        <div class="content-block">
            <h1>About me</h1>
            <p>
                {{ currentProfile.about|safe }}
            </p>
        </div>
        <div class="content-block">
            <h1>Skills</h1>
            <div class="skill-container">
                <div class="skill-line">
                    <p>Backend</p>
                    <div class="flex-container">
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill1.0.png">
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill1.1.png"> 
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill1.2.png">  
                    </div>
                </div> 
                <div class="skill-line">
                    <p>Frontend</p>
                    <div class="flex-container">
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill2.1.png">
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill2.2.png"> 
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill2.3.png">
                    </div>
                </div>  
                <div class="skill-line">
                    <p>Libraries and frameworks</p>
                    <div class="flex-container">
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill3.1.png"> 
                    </div>
                </div> 
                <div class="skill-line">
                    <p>Instruments</p>
                    <div class="flex-container">
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill4.1.png"> 
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill4.2.png"> 
                        <img src="file:///home/bluesnake/Desktop/Front/skills/skill4.3.png"> 
                    </div> 
                </div> 
            </div>
        </div>

        <div class="content-block">
            <h2>Projects</h2> 
            <div class="flex-container">
                <a class="project" target="_blank" href="https://github.com/0BlueSnake0/TE_Russia_Electrical">
                    <p class="project-title">TE Russia Electrical</p>
                    {% include 'portfolio/slideshow.html' %}
                    <p class="project-description">
                        Description1
                    </p>
                </a>
                <a target="_blank" class="project">
                    <p class="project-title">2D Platformer</p>
                    {% include 'portfolio/slideshow.html' %}
                    <p class="project-description">
                        Description2
                    </p>
                </a>  
            </div>

        </div>
        
    </div>     


<script>
    $("#background").css("height", $(document).height() + 100 );
</script>
<script type="text/javascript" src="{% static 'js/generator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/particleSettings.js' %}"></script>
<script>   
    function RandomInt(border1, border2) {return Math.floor(border1 + Math.random() * (border2 - border1));} 
 
    particleGenerator("background", particlesNumber*0.2, "particle", "#2f60f5");
    particleGenerator("background", particlesNumber*0.3, "particle", "#2bff00");
    particleGenerator("background", particlesNumber*0.2, "particle", "#e6bb20");
    particleGenerator("background", particlesNumber*0.2, "particle", "#c031e8");
    particleGenerator("background", particlesNumber*0.1, "particle", "#ffffff");

</script>
<script type="text/javascript" src="{% static 'js/animation.js' %}"></script>

</body>

</html>
