{% extends 'base.html' %}
{% load static %}

{% block maincontent %}
<head>
    <title>{{currentProfile.firstname}}{{currentProfile.lastname}}</title>
    <link rel="stylesheet" href="{% static 'css/skills.css' %}?v=4">
    <link rel="stylesheet" href="{% static 'css/hello.css' %}?v=4">
    <link rel="stylesheet" href="{% static 'css/slideshow.css' %}?v=4">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}?v=4">
    <link rel="stylesheet" href="{% static 'css/expirience.css' %}?v=4">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}?v=4">
</head>

{% include "header.html" %}
{% include "portfolio/hello.html" %}
{% include "portfolio/skills.html" %}
{% include "portfolio/projects.html" %}
{% include "portfolio/expirience.html" %}
{% include "footer.html" %}

{% endblock %}

