{% load static %}
{% load mytags %}
<section id="hard-skills" class="content-block">
    <img class="background-img">
    <h1>Hard skills</h1>
    {% get_categories currentProfile.hard_skills.all as categories %}
    <div id="skills-list">
        {% for category in categories %}
            <div class="skill-category">
               <h2>{{category.title}}</h2>
                {% get_category_skills categories category as skills %}
                <div class="skill-line">
                    {% for skill in skills %}
                        <label class="skill">
                            <img src="{{skill.icon.url}}">
                            <input type="checkbox">
                            <p class="skill-hint">{{skill.title}}</p>
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section id="soft-skills" class="content-block">
    <h1>Soft skills</h1>
    <p style="color:black;">{{currentProfile.soft_skills|safe}}</p>
</section>
