{% load static %}
{% load mytags %}
<div id="skills-slide"></div>
<section id="skills" class="content-block">
    <img class="background-img">
    <h1>My skills</h1>
    {% get_categories currentProfile.skills.all as categories %}
    <div id="skills-list">
        {% for category in categories %}
            <div class="skill-category">
               <h2>{{category.title}}</h2>
                {% get_category_skills categories category as skills %}
                <div class="skill-line">
                    {% for skill in skills %}
                        <label class="skill">
                            <img class="skill-icon" src="{{skill.icon.url}}">
                            <input type="checkbox">
                            <p class="skill-hint">{{skill.title}}</p>
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
